@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.prologo img {
    width: 60px;
}

header {
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}




.navigation a {
    color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}


.navigation a:hover {
    color: #6f3a8d;
}


section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../images/Accueil.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color: #ffffff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 2em;
    font-weight: 600;
}

.main h3 {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: #ffffff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-top: 40px;
    transition: 0.7s ease;
}

.services-btn {

    text-decoration: none;
    color: #0a49f6;
    font-size: 22px;


}

.services-btn:hover {
    text-decoration: underline;
    color: #6f3a8d;
}



.main-btn:hover {
    background-color: #0a49f6;
    transform: scale(1);
}

.social-icons a {
    color: #ffffff;
    font-size: 1.7em;
    padding-right: 30px;
}

.title {
    display: flex;
    justify-content: center;
    color: #3D9BE9;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.titlec {
    display: flex;
    justify-content: center;
    color: #3D9BE9;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    padding-top: 1em;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 16.50em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;

}

.info h3 {
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.projects {
    background-color: #083B5A;
    width: 100%;
    height: 41em;
    padding-left: 5em;
    padding-right: 1em;

}

.ul-imgs img {
    width: 290px;
    height: 410px;
    border: 3px solid white;
    margin-left: 5em;
}


.ul-imgs {
    float: left;
    width: 50%;

}

.project-image {
    display: flex;
    justify-content: space-between;
    margin-right: 1em;
}

.p-info {
    float: right;
    width: 50%;
}

.p-r {
    width: 70%;
    padding-top: 2em;
    padding-left: 2em;
    text-align: justify;
}

.p-r a {
    float: right;
}

.p-info p {
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}


.contact .icon {
    font-size: 4.5em;
}

.contact .icon .fa-phone {
    transform: rotate(90deg);
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 0.8em;
}

.footer {
    background-color: rgb(61, 155, 233);
    color: #fff;
    padding-top: 1.5em;
    padding-left: 2em;
    padding-right: 2em;
    justify-content: space-between;
    height: 13em;
}

.footer-title {
    font-size: 1.1em;
    font-weight: 600;
}

.message-succes {
    text-align: center;
    color: rgb(7, 163, 7);
}

.footer-title span {
    color: #3a6cf4;
}

.footer-info ul li {
    list-style: none;
}

.p-footer {
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

.footer-info {
    display: flex;
    justify-content: space-around;
}

.footer .social-icons a {
    font-size: 1.4em;
    padding: 0 10px 0 0;
}


.btn-learn-more {
    background-color: #3a6cf4;
    font-size: 1.1em;
    font-weight: 600;
    display: block;
    padding: 0.9375em 2.1875em;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 15px;
    margin: 40px auto 1px auto;
    width: 190px;

}



.btn-learn-more a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.btn-learn-more a:hover {
    transition: 0.7s ease;
    color: #000000;
}



#li-special {
    color: white;
}

.contact-wrap {
    width: 85%;
    height: auto;
    margin: auto auto 3em auto;
    display: flex;
    flex-wrap: wrap;
}

.contact-in {
    padding: 40px 30px;
}


.contact-in:nth-child(1) {
    flex: 30%;
    background: url(../images/humain-con.jpg);
    color: #fff;
}

.contact-in:nth-child(2) {
    flex: 45%;
    background: rgb(61, 155, 233);
}

.contact-in:nth-child(3) {
    flex: 25%;
    padding: 0;
}

.contact-in h1 {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}

.contact-in h2 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}

.contact-in h2 i {
    font-size: 16px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: #f5f5f5;
    color: #000;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
}

.contact-in p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
}

.contact-in ul {
    padding: 0;
    margin: 0;
}

.contact-in ul li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
}

.contact-in ul li a {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #fff;
    border-radius: 50px;
}

.contact-in ul li a i {
    font-size: 14px;
    line-height: 30px;
    color: #000;
}

.contact-in form {
    width: 100%;
    height: auto;
}

.contact-in-input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    outline: none;
    padding-left: 5px;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.contact-in-input::placeholder {
    color: #fff;
}

.contact-in-textarea {
    width: 100%;
    height: 140px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    outline: none;
    padding-left: 5px;
    padding-top: 5px;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.contact-in-textarea::placeholder {
    color: #fff;
}

.contact-in-btn {
    width: 100%;
    height: 40px;
    border: 1px solid #fff;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.contact-in iframe {
    width: 100%;
    height: 100%;
}

#rota {
    transform: rotate(100deg);
}

.message .success {
    color: green;
    display: none;
    text-align: center;
    animation: buttons .3s linear;
}

.message .danger {
    text-align: center;
    color: red;
    animation: buttons .3s linear;
    display: none;
}

@keyframes buttons {
    0% {
        transform: scale(0.1);
    }

    50% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width:480px) {
    .contact-in:nth-child(1) {
        flex: 50%;
    }

    .contact-in:nth-child(2) {
        flex: 50%;
    }

    .contact-in:nth-child(3) {
        flex: 100%;
    }
}

@media only screen and (max-width:360px) {
    .contact-in:nth-child(1) {
        flex: 50%;
    }

    .contact-in:nth-child(2) {
        flex: 50%;
    }

    .contact-in:nth-child(3) {
        flex: 100%;
    }
}

@media (max-width: 1023px) {
    header {
        padding: 12px 20px;
    }

    .p-r {
        text-align: center;
        width: 100%;
    }

    .projects {
        height: 35em;
        padding: 0;
        margin: 0;
    }

    .p-info {
        width: 100%;
    }

    .ul-imgs {
        display: none;
    }


    .navigation a {
        padding-left: 10px;
    }

    .title {
        font-size: 1.7em;
    }

    section {
        padding: 78px 19px;
    }

    .main-content h2 {
        font-size: 0.9em;
    }

    .main-content h3 {
        font-size: 1.5em;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    footer {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .p-footer {
        margin: 0;
        padding: 0;
    }


}




@media (max-width: 641px) {
    body {
        font-size: 12px;
    }

    .main-content h2 {
        font-size: 0.8em;
    }

    .main-content h3 {
        font-size: 1.3em;
    }

    footer {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .p-footer {
        margin: 0;
        padding: 0;
    }
}

@media (max-width:300px) {
    body {
        font-size: 10px;

    }
}